/* .blog_container {
  border: 2px solid #000;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  margin-top: 1rem;
}

.edit-form {
  border: 2px solid saddlebrown;
  margin: 5px;
  padding: 5px;
}

.title {
  text-align: center;
  align-items: center;
  margin: 0 auto;
  font-weight: bolder;
  font-size: 2rem;
}

.title h5 {
  text-align: center;
  align-items: center;
  margin: 0 auto;
  font-weight: bolder;
  font-size: 2rem;
}

.btn {
  text-align: center;
  align-items: center;
  margin: 0 auto;
  font-weight: bolder;
  font-size: 2rem;
  width: 30%;
  padding: 10px;
  top: 0;
  left: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 80px;
}

button {
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #000;
  background-color: #000;
  justify-content: center;
  margin-left: 200px;
}

.form-group button {
  margin-left: 200px;
  background-color: #000;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.form-group text {
  align-items: center;
  text-align: center;
}

.form-group{
  align-items: center;
  text-align: center;
}

.submit-form {
  border: 2px solid red;
  padding: 5px;
  width: 95%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  margin-top: 2rem;
}

.form-control input {
  width: 80%;
  border: 2px solid orangered;
}

.form-group input {
  width: 80%;
  border: 2px solid green;
}

.form-group .form-control {
  width: 30%;
  border: 2px solid blue;
}

label {
  align-items: center;
  text-align: center;
  margin: 0 auto;
  display: flex-start;
  margin-left: 1100px;
} */