@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
}

/* .img {
  height: 100%;
}


.image {
  height: 100%;
} */

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.container {
  max-width: 95%;
  margin: auto;
}

.link {
  margin-top: 20px;
  color: blue;
}
@media screen and (max-width: 768px) {
  .grid3,
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* footer {
  background-color: yellow;
} */