.scrollup {
    position: fixed;
    right: 2.5rem;
    bottom: 3rem;
    bottom: -20%;
    background-color: #ccc;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    behavior: smooth;
}

  .scrollup_icon {
    font-size: 2.5rem;
    color: #000;
    /* background-color: #000; */
  }

  .scrollup_icon:hover {
    /* background-color: #000; */
    /* color: #fff; */
    color:  orchid;
  }

  .show-scroll {
    bottom: 3rem;
  }

  @media screen and (max-width: 992px) {
    .scrollup {
      right: 1.5rem;
      padding: 0.25rem;
    }

    .scrollup_icon {
      font-size: 1.25rem;
    }
  }

  @keyframes scrollup {
    0%{
      transform: translateY(0px);
    }
    25%{
      transform: translateY(20px);
    }
    50%{
      transform: translateY(0px);
    }
    75%{
      transform: translateY(-20px);
    }
    100%{
      transform: translateY(0px);
    }
  }