.blog {
    margin: 50px 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
  }
  .boxItems {
    background-color: #fff;
    margin-top: 1.5rem;
  }
  .blog .boxItems {
    transition: 0.5s;
  }
  .blog .boxItems:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    cursor: pointer;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}
/* .date {
  margin-top: 10rem;
  float: right;
} */
  img {
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

  .blog .img {
    width: 100%;
    /* height: 100%; */
    /* height: 250px; */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .blog .icon {
    margin-right: 10px;
    font-size: 20px;
  }
  .blog .tag a {
    color: orchid;
    opacity: 0.7;
  }
  .blog .tag {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  .blog h3 {
    font-weight: 500;
  }
  .blog p {
    color: #999;
    font-weight: 400;
    margin: 20px 0;
    font-size: 17px;
    line-height: 25px;
  }
  .blog .date {
    display: flex;
    align-items: center;
  }
  .blog .date label {
    display: block;
    margin-right: 20px;
  }
  